<% if @cocktail.photo.attached? %>
  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<h2><%= @cocktail.name %></h2>

<h3>Ingredients</h3>

<ul>
  <% @cocktail.ingredients.each do |ingredient| %>
    <li> <%= ingredient.name %>
      <% @cocktail.doses.each do |dose| %>
        <span><%= dose.description %> (<%= link_to "🗑 delete", dose_path(dose), method: :delete %>)</span>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "🔙 Back to Overview", cocktails_path %> |
<%= link_to "➕ Add a Dose", new_cocktail_dose_path(@cocktail)  %>
