<h2>Add a new Ingredient</h2>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit %>
<% end %>

<%= link_to "🔙 Back to Overview", cocktails_path %>
